/* Header */

h3 {
    color: red;
}

#header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

#header-list {
    margin-top: 25px;
    margin-left: 20px;
}


/* Header */


/* Footer */

#footer {
    color: #fff;
    background-color: #000;
}


/* Footer */


/* info */

div.information {
    margin: 20px;
    box-shadow: 40px 40px 50px #ccc;
    margin-top: 25px;
    padding: 10px;
}

div.information-main {
    margin-top: 50px;
}

div.information-main .information {
    margin: 0 300px;
    background-color: #fff;
}

div.information li {
    display: block;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info i {
    font-size: 30px;
    background: #ff003a;
    color: white;
    padding: 15px;
    border-radius: 100px;
    margin-top: 5px;
}

.info h1 {
    text-align: center;
    color: #ff0004;
}


/* info */


/* product */

div.product {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    width: 100%;
}


/* Căn chỉnh vị trí sản phẩm */

div.product>a {
    flex-basis: calc(100% / 4 - 30px);
    display: block;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Thiết kế khung sản phẩm */

div.product>a div.product-item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 13px -1px;
}


/* Ảnh sản phẩm */

div.product>a img {
    width: 100%;
    height: auto;
    left: 1px;
}


/* Tên sản phẩm */

div.product>a div.product-info a {
    text-decoration: none;
    color: #ff0067;
    font-size: 20px;
}


/* Thiết kế khung giá tiền */

div.product>a div.product-info div.product-price {
    background-color: #ff0000;
    padding: 5px;
    color: white;
    font-size: 20px;
}


/* Hiệu ứng khung sản phẩm */

div.product>a div.product-item:hover {
    transform: scale(1.05);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


/* product */


/* trang home */

.home-news-heading:hover {
    color: red;
    cursor: pointer;
}


/* trang product */

.list-group-item.active {
    background-color: #ffffff;
    color: red;
}

.list-group-item:active {
    border: none;
    background-color: #ffffff;
    color: red;
}

.list-group-item:hover {
    color: red;
}

.list-group-item.active::before {
    content: '▶';
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
}